<div class="container thing">
  <div class="row">
    <div class="col-sm-7">
      <h1>YOU SHOULD DO ...</h1>

      <blockquote class="page-content">
        <p><%= thing.desc %></p>
        <footer>Suggested by - <cite title="Author"><%= thing.author || 'anonymous' %></cite></footer>
      </blockquote>

      <% if(thing.quote) { %>
        <a href="<%= thing.quote %>">From <%= thing.quote %></a>
      <% } %>

      <a rel="nofollow" class="btn btn-primary btn-lg" href="/thing/random?id=<%= thing.id %>" >Naah...</a>
    </div>
    <div class="col-sm-5">
      <h2>You might also like</h2>
      <ul class="list-unstyled">
        <% things.forEach(function (thing) { %>
          <li><a href="/thing/<%= thing.keys %>"><%= thing.title %></a></li>
        <% }); %>
      </ul>
    </div>
  </div>

  <% if(thing.video) { %>
    <div class="video-container">
      <iframe title="Video Player" width="640" height="360" src="<%= thing.video %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% } %>
</div>

